{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div
		class="p-5 mb-4 bg-body-tertiary rounded-3">
		{# <p class="lead">Bienvenue sur ta Data Base {{ app.user.userName}} !</p> #}
		<h1 class="display-4">Bienvenue sur My Personal DataBase</h1>
	</div>
	<div class="row">
		<div class="col-12 col-md-4 mb-4">
			<div class="card">
				<div class="card-header">Analyse des données<span class="mbi bi-search"></span>
				</div>
				<div class="card-body"></div>
			</div>
		</div>
		<div class="col-12 col-md-8 d-flex flex-wrap justify-content-around">
			{% for vg in videoGames %}
				<div class="card mb-3 text-center pt-2" style="width: 250px;">
					<img src="{{ vich_uploader_asset(vg, 'imageFile') }}" alt="{{ vg.name ~ ' cover' }}" class="card-img-top mx-auto" style="width: 200px;">
					<div class="card-body pb-2">
						<h5 class="card-title">{{ vg.name }}</h5>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>
{% endblock %}

