{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="p-5 mb-4 bg-light rounded-3">
            <h1 class="display-4">Mes jeux vidéos</h1>
            <p class="lead">Voici une petite interface toute simple (grâce à bootstrap) permettant de visualiser les jeux vidéos de ma base de données, mais aussi de les ajouter !</p>
        </div>
        <div class="row">
        <div class="col-12 col-md-8">
        <h2>Ici la liste!!</h2>
        </div>
        <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-header">Ajout</div>
                    <div class="card-body">
        {{ form(form) }}
        </div>
        </div>
        </div>
        </div>
        </div>
{% endblock %}
