<form method="post" action="{{ path('app_console_delete', {'id': console.id}) }}" onsubmit="return confirm('Supprimer {{ console.name }} de la liste ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ console.id) }}">
	<button class="btn btn-red">
		<span class="bi bi-trash"></span>
	</button>
</form>