.red {
    background-color: #df0024;
}

.yellow {
    background-color: #f3c300;
}

.green {
    background-color: #00ac9f;
}

.blue {
    background-color: #2e6db4;
}

.zoom {
    overflow: hidden;
}

.zoom img {
    transition: 0.5s all ease-in-out;
}

.zoom:hover img {
    transform: scale(0.9);
}