{% set controller_name = "ErrorController" %}

{% extends 'base.html.twig' %}

{% block title %}Accès refusé
{% endblock %}

{% block body %}
	<div
		class="p-5 mb-4 bg-body-tertiary rounded-3 text-center">
		{# <p class="lead">Bienvenue sur ta Data Base {{ app.user.userName}} !</p> #}
		<h1 class="mb-4">
			<span class="text-yellow">4</span>
			<span class="text-blue">0</span>
			<span class="text-red">3</span>
		</h1>
		<p class="mb-4">Vous tentez quelque chose ? VOUS NE PASSEREZ PAS !</p>
		<div class="mb-4">
			<img style="height:200px" src="https://media.tenor.com/uUnfd6BfpEgAAAAC/you-shall-not-pass.gif">
		</div>
		<a class="btn btn-green mb-1 text-light" href="{{ path('app_home') }}">Retour à l'accueil</a>

	</div>
{% endblock %}
