{% extends 'base.html.twig' %}

{% block title %}mot de passe
{% endblock %}

{% block body %}
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger mt-2" role="alert">
			{{ message }}
		</div>
	{% endfor %}
	<div class="p-5 mb-4 bg-body-tertiary rounded-3">
		<h1 class="display-4">{{ app.user.username }}</h1>
	</div>

	<form name="user_edit" method="post">
		<div id="user_password_edit" novalidate="novalidate">
			<div class="mb-3">
				<label for="password-old" class="form-label">Mot de passe</label>
				<input type="password" id="password-old" name="password-old" class="form-control" required>
			</div>
			<div class="mb-3">
				<label for="password-new" class="form-label">Nouveau mot de passe</label>
				<input type="password" id="password-new" name="password-new" class="form-control" required>
			</div>
			<div class="mb-3">
				<label for="password-repeat" class="form-label">Confirmer nouveau mot de passe</label>
				<input type="password" id="password-repeat" name="password-repeat" class="form-control" required>
			</div>


			<input type="hidden" name="token" value="{{ csrf_token('modify-password') }}"/>
		</div>
		<button class="btn btn-yellow">Modifier</button>
	</form>
{% endblock %}
